<html>
    <head>
        <title>BLOG APP</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css"
    </head>
    <body>
        <div class="ui fixed inverted menu">
            <div class="ui container">
                <div class="ui item">Blog Site</div>
                <a href="/" class="item">Home</a>
                <a href="/blogs/new" class="item">Posts</a>
                <a href="/NodeJS/Blog/login.html" class="item">Login</a>
                <a href="/NodeJS/Blog/signup.html" class="item">Sign Up</a>
            </div>
        </div>
    